@use "variables" as *;

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $primaryColor;
    font-family: 'Maitree', serif;
    font-size: 1.3rem;
    text-align: center;
    color: $tertiaryColor;
    border-top: 2px solid $secondaryColor;
}